    </div>
    <script src="../public/libs/jquery-3.1.1.min.js"></script>
    <script src="../public/libs/Semantic-UI-CSS-master/semantic.min.js"></script>
    <script src="../public/script.js"></script>
</body>
</html>