<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Admin Travaux Alger</title>
    <meta name="description" content="">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../public/libs/Semantic-UI-CSS-master/semantic.min.css">
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="../public/styles.css">
    <!-- endbuild -->
</head>
<body>
    <div class="ui top attached borderless menu">
        <a class="item"  id="menu-icon"">
          <i class="sidebar icon"></i>
          Menu
        </a>
    </div>
    <div class="ui left demo vertical inverted sidebar labeled icon menu">
        <a class="item" href="mainWindow.ejs">
            <i class="home icon"></i>
            Acceuil
        </a>
        <a class="item" href="listePatients.ejs">
            <i class="users icon"></i>
            Liste des patients
        </a>
        <a class="item" href="datePicker.ejs">
            <i class="clipboard list icon"></i>
            Liste des rendez-vous
        </a>
        <a class="item" href="rdvPatient.ejs">
            <i class="calendar alternate icon"></i>
            Rendez-vous du jour
        </a>
    </div>
    <div class="pusher">
    