<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Admin Travaux Alger</title>
    <meta name="description" content="">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css styles/main.css -->
    <!-- endbuild -->
</head>
<body>
    <div class="ui top attached borderless menu">
        <a class="item"  id="menu-icon"">
          <i class="sidebar icon"></i>
          Menu
        </a>
    </div>
    <div class="ui left demo vertical inverted sidebar labeled icon menu">
        <a class="item" href="http://localhost:5000/mainWindow">
            <i class="home icon"></i>
            Acceuil
        </a>
        <a class="item" href="http://localhost:5000/patient">
            <i class="users icon"></i>
            Patients
        </a>
        <a class="item" href="http://localhost:5000/rdv">
            <i class="clipboard list icon"></i>
            Tous les rendez-vous
        </a>
        <a class="item" href="http://localhost:5000/rdv/today">
            <i class="calendar icon"></i>
            Rendez-vous du jour
        </a>
        <a class="item" href="http://localhost:5000/datePicker">
            <i class="calendar alternate icon"></i>
            Rechercher par jour
        </a>
    </div>
    <div class="pusher" style="padding: 5%;">
    