<%- include('./partials/header') %>

<h1 class="ui small center aligned header">
    Bienvenue dans votre
</h1>

<h1 class="ui huge green center aligned header">
    Plateforme de prise de RDV médicaux
</h1>

<h1 class="ui small center aligned header">
    Gérez vos patients et leurs rendez-vous
</h1>



<%- include('./partials/footer') %>
