<%- include('./partials/header') %>


<div class="ui grid">
    <div class="sixteen wide column">
        <div class="ui center aligned huge grey header">
            Liste des rendez-vous
        </div>
    </div>
    <div class="sixteen wide center aligned column">
        <table class="ui celled inverted table">
            <thead>
              <tr>
                <th class="center aligned">Date</th>
                <th class="center aligned">Heure</th>
                <th class="center aligned">Objet</th>
                <th class="center aligned">Opérations</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th class="center aligned">30/04/2020</th>
                <th class="center aligned">12:30</th>
                <th class="center aligned">Prélèvement</th>
                <th class="center aligned">
                    <button class="circular ui icon red aligned button">
                        <i class="trash icon"></i>
                    </button>
                    <button class="circular ui icon primary aligned button">
                        <i class="edit icon"></i>
                    </button>
                </th>
              </tr>
              <tr>
                <th class="center aligned">30/04/2020</th>
                <th class="center aligned">12:30</th>
                <th class="center aligned">Prélèvement</th>
                <th class="center aligned">
                    <button class="circular ui icon red aligned button">
                        <i class="trash icon"></i>
                    </button>
                    <button class="circular ui icon primary aligned button">
                        <i class="edit icon"></i>
                    </button>
                </th>
              </tr>
            </tbody>
          </table>
    </div>

</div>



<%- include('./partials/footer') %>